html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center; 
  justify-content: center;
  width: 100%; 
  box-sizing: border-box;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

header .logo {
  height: 2em;
  margin-right: 1em;
  vertical-align: middle;
  transition: transform 0.3s, filter 0.3s;
}

header .logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.6));
}

header h1 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.5em;
}

header nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 600px;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  margin-top: 60px;
}

footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
