/* this file provides styles for all components of the app */

/* global styles */
html, body, #root {
  background-color: rgb(46, 45, 45);
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  overflow-x: hidden;

  /* Hide scrollbar*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Hide scrollbar */
html::-webkit-scrollbar, body::-webkit-scrollbar, #root::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* for the app container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box; 
  background-color: rgb(46, 45, 45);
}

.main-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 65px;
}

/* setting the order of the local menu and content*/
/* this depends on <div className={`main-layout ${direction}`}> */
.main-layout.ltr .local-menu {
  order: 1; /* localMenu first for ltr */
}

.main-layout.ltr .content {
  order: 2; /* content second for ltr */
}

.main-layout.rtl .local-menu {
  order: 2; /* localMenu second for rtl */
}

.main-layout.rtl .content {
  order: 1; /* content first for rtl */
}

/* for the main content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  width: 100%;
  max-width: 1280px; 
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(46, 45, 45);
}

h1 {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-align: center;
}

/* for the filter options */
.filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filters label {
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 1em;
}

.filters input[type="text"] {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.filters input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* for the footer */
footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

/* for the search box */
input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

/* to hide data */
.hidden {
  display: none;
}

/* to prevent footer covering the table */
.table-container {
  margin-bottom: 50px;
}

/* media queries: medium */
@media (max-width: 768px) {
  .subtitle {
    font-size: 1rem;
  }

  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }

  .main-layout {
    flex-direction: column;
    padding-top: 250px; /* Ensure space for fixed header */
    margin-top: 15px;
  }

  .content {
    padding: 1rem;
    margin-top: 0; /* ensure the content is below the menu */
    order: 2;
  }

  .filters {
    flex-direction: column;
  }

  .filters input {
    width: 100%;
  }

  th, td {
    font-size: 0.8em;
  }

  .table-container {
    height: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    margin-bottom: 180px;
  }

  table {
    display: block;
    width: 100%;
    margin: 0;
  }

  th, td {
    padding: 8px;
  }

  input {
    font-size: 14px;
    padding: 6px;
  }
}


/* media queries: small */
@media (max-width: 480px) {
  .subtitle {
    font-size: 0.9rem;
  }

  body {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .main-layout.ltr {
    flex-direction: column;
    padding-top: 220px;
  }

 .main-layout.rtl {
    flex-direction: column-reverse;
    padding-top: 220px;
  }
  
  .content {
    padding: 0.5rem;
    margin-top: 0;
    order: 2;
  }

  .filters {
    flex-direction: column;
  }

  .filters input {
    width: 100%;
  }

  th, td {
    font-size: 0.8em;
  }

  .table-container {
    height: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 80px;
  }

  table {
    display: block;
    width: 100%;
    margin: 0;
  }
}
